<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/styles/chart.css">
  <title>Custom Chart</title>

</head>
<body>

<h1>Custom Git activity chart</h1>

<div class="container">
  <div class="grid-container">
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>
    <button class="grid-item"></button>


  </div>
</div>

</body>
</html>


