<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/styles/chart.css">
  <title>Custom Chart</title>

</head>
<body>

<h1>Custom Git activity chart</h1>

<div class="container">
  <div>
    <div class="days">
      <div class="Mon">Mon</div>
      <div class="Wed">Wed</div>
      <div class="Fri">Fri</div>
    </div>
  </div>
  <div>
    <div class="month">
      <div>Jan</div>
      <div>Feb</div>
      <div>Mar</div>
      <div>Apr</div>
      <div>May</div>
      <div>Jun</div>
      <div>Jul</div>
      <div>Aug</div>
      <div>Sep</div>
      <div>Oct</div>
      <div>Nov</div>
      <div>Dec</div>
    </div>
    <div class="grid-container" id="grid-container"></div>
  </div>
</div>

<script>
  const gridContainer = document.getElementById('grid-container');
  const totalButtons = 364;

  for (let i = 0; i < totalButtons; i++) {
    const button = document.createElement('button');
    button.classList.add('grid-item');
    gridContainer.appendChild(button);
  }

  const buttons = document.querySelectorAll('.grid-item');

  buttons.forEach(button => {
    button.addEventListener('click', () => {
      button.style.backgroundColor = "green";
    });
  });

</script>


<div class="color-container">
  <div class="frame-color-container" id="frame-id">
    <button class="color1"></button>
    <button class="color2"></button>
    <button class="color3"></button>
    <button class="color4"></button>
    <button class="color5"></button>
  </div>
</div>

<script>
  const frame = document.getElementById("frame-id")
  frame.addEventListener('click',(event) => {
    if (event.target.tagName === 'BUTTON') {
      const buttonColor = getComputedStyle(event.target).backgroundColor;
      frame.style.borderColor = buttonColor
    }
  })
</script>

</body>
</html>


